#events {
    padding: 100px 20px;
}

#events h1 {
    padding-bottom: 0;
}

#events>p {
    text-align: center;
}

.eve_head {
    font-size: 28px;
    padding: 40px 10px;
    text-align: center;
}

.eve_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.eve_card {
    width: 300px;
    height: max-content;
    background: #fff;
    padding: 20px;
    margin: 40px 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: grid;
}

.eve_card img {
    width: 100%;
    transition: all 400ms;
}

.eve_card h2 {
    font-size: 18px;
    font-weight: 600;
}

.eve_card p {
    font-size: 14px;
    line-height: 1.2em;
}

.eve_card--logo {
    width: 300px;
}

@media screen and (max-width:768px) {
    .eve_card {
        margin: 40px 0;
    }
}

@media (hover) {
    .eve_card:hover img {
        transform: scale(0.9);
    }
}