.footer-grid-container {
  display: grid;
  grid-template-columns: 0 1fr 1fr;
  grid-gap: 1rem;
}
.grid-content {
  font-size: 2.4rem;
  line-height: 2.5;
  text-align: center;
}
.footer-grid-content-1,
.footer-grid-content-2 {
  margin: 0 auto;
}
.h05 .footer-subheading {
  font-size: 2rem;
}
.list-links li {
  font-size: 2rem;
}
.motto {
  padding: 1.3em 0;
}
.footer-subheading {
  font-size: 2rem;
}
footer hr {
  border-style: dotted none none;
  height: 0px;
  width: 70px;
  margin: auto;
  padding-bottom: 3rem;
  border-color: rgb(119, 117, 117);
  border-spacing: 20px;
  border-width: 5px;
}

.homepage-quote {
  padding: 1.5rem 0;
  margin-bottom: 0;
  color: #19191b;
}
.header-social-list li {
  padding: 10px 40px;
  color: #c9ccd5;
}
.header-menu-text {
  color: #ffffff;
}
.header-menu-text:hover {
  color: #f3f0d7;
}
