@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
    overflow: hidden;
    font-family: Poppins, sans-serif;
}

#about,
#wings,
#portfolio,
#ourstar,
#testimonials,
#contact-form {
    display: none;
    /* for preloader */
}


/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding-top: 100px;
}

#home,
.home-div {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: #fff; */
}

.home-div {
    z-index: 0;
}

img {
    width: 200px;
}

.logo {
    box-sizing: content-box;
    width: 190px;
    height: 85px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translateX(84%);
    transition: all 800ms;
}

.logo-aside {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    transition: all 800ms;
}

.logo-e {
    width: 60px;
}

.logo-vssut,
.logo-burla {
    width: 123px;
}

.logo-ell {
    width: 120px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transform: translateY(80%);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.home-content h1 {
    font-size: 32px;
    font-weight: 600;
}

.home-content p {
    font-size: 18px;
    font-weight: 500;
}

.preload {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    transition: all 500ms linear;
}

.background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: url('/images/ecell-bg.svg') no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: all 500ms;
}

.background-show {
    opacity: 1;
}

.home-explore {
    padding: 6px 15px;
    border: 1px solid #010c1e;
    border-radius: 8px;
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    transition: all 500ms;
    cursor: pointer;
}

.home-explore {
    background: #010c1e;
    color: #fff;
}

.bounce-up {
    animation: bounce 1s ease-in 1s;
}


/* nav */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    /* outline: 1px solid #000; */
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
}

.scrolled {
    background: #fff;
    box-shadow: 0 0 16px #70707070;
}

.close-overlay {
    display: none;
}

.nav-mob {
    display: none;
    position: relative;
    padding: 10px;
}

.fa-bars,
.fa-times {
    opacity: 0;
    transition: all 500ms;
}

.nav-mob img {
    width: auto;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(32%, -50%);
}

.nav-logo {
    height: 32px;
    width: auto;
}

.nav-menu {
    position: static;
    display: flex;
    justify-content: center;
}

.nav-menu--items {
    cursor: pointer;
    margin: 10px 20px;
}

.nav-contact {
    padding: 10px 20px;
    margin: 0;
    border: 2px solid #010c1e;
    border-radius: 8px;
    background: #010c1e;
    color: #fff;
    transition: all 300ms;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -20px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

@media (hover) {
    .home-explore {
        background: transparent;
        color: #000;
    }
    .home-explore:hover {
        background: #010c1e;
        color: #fff;
    }
    .nav-contact {
        background: transparent;
        color: #010c1e;
    }
    .nav-contact:hover {
        background: #010c1e;
        color: #fff;
    }
}

@media screen and (max-width:888px) {
    #home,
    .home-div {
        flex-direction: column;
    }
    .logo {
        padding-bottom: 48px;
        transform: translateX(24%);
    }
    .home-content {
        align-items: center;
    }
    .home-content h1 {
        font-size: 24px;
    }
    .home-content p {
        font-size: 16px;
    }
    nav {
        padding: 15px 20px;
    }
    .close-overlay {
        /* display: block; */
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        height: 100vh;
        background: transparent;
    }
    .display {
        display: block;
    }
    .nav-menu {
        position: absolute;
        top: 84px;
        right: -280px;
        height: calc(100vh - 104px);
        width: 250px;
        background: #fff;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        /* border: 1px solid #000; */
        filter: drop-shadow(0 0 16px #70707070);
        border-radius: 16px;
        padding: 10px;
        transition: all 500ms;
    }
    .nav-menu--show {
        right: 20px;
    }
    .nav-mob {
        display: block;
        align-self: center;
    }
}