.making{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.st{
    text-align: center;
    color:azure;
    font-size:3em;
    padding:10px;
}
.card
{
    margin:20px;
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}
.card .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}
.card .circle::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card:hover .circle:before
{
    background: #0065c3;
    clip-path: circle(400px at center);
}
.card img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    pointer-events: none;
    transition: 0.5s;
}
.card:hover img
{
    left: 72%;
    width: 150px;
}
.card .content
{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}
.card:hover .content
{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card .content h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}
.card .content p
{
    color: #fff;
}
.card .content a
{
    color:#fff;
    font-size: 20px;
}


@media (max-width: 991px)
{
    .card{
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }
    .card:hover
    {
        height: 400px;
    }
    .card:hover img{
        height:100px;
        width:100px;
        top:300px;
    }
    .card .content{
        width: 100%;
        left: 0;
        padding: 60px;
    }
}
@media (max-width: 420px) {
    .card .content{
        
        padding: 20px;
    }
}
