@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
#wings {
    width: 100%;
    background: #efeeee;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Poppins, serif;
    font-size: 40px;
    font-weight: 500;
    color: #010c1e;
    margin: 0;
}

h2 {
    font-family: 'Roboto', serif;
    color: #000;
    margin: 0;
}

p {
    font-family: Roboto, serif;
    font-size: 15px;
    margin: 0;
    line-height: normal;
}

span {
    font-family: Roboto, serif;
    font-size: 12px;
    color: #8c92ac;
}

img {
    margin: 0;
    padding: 0;
}

.wings__header>h1 {
    padding: 80px 0 80px 0;
    text-align: center;
}

.wings__card--area {
    padding: 0 0 80px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

.wings__card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px;
    /* height: 340px; */
    /* padding: 10px; */
    width: clamp(300px, 320px, 350px);
    background: #efeeee;
    /* border: 1px solid #ffffff20; */
    /* border-color: #ffffff50 #d1cdc750 #d1cdc750 #ffffff50; */
    box-shadow: -6px -6px 16px #ffffff90, 6px 6px 16px #d1cdc790;
    border-radius: 16px;
    overflow: hidden;
}

.wings__card--header {
    /* background: #010c1e; */
    position: relative;
    /* Idk why it leaves 1px margin from the left *_* */
    left: -1px;
    width: 340px;
    height: 68px;
    border-bottom: 1px solid #000;
}

.wings__card--logo {
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 50%;
    background: #eee;
}

.wings__card--logo {
    position: absolute;
    top: 64px;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wings__card--title {
    padding: 10px 10px;
}

.wings__card--desc {
    position: relative;
    height: 120px;
    padding: 10px 10px;
}

.wings__card--face {
    position: absolute;
    width: calc(100% - 20px);
    transform: translateX(0);
    transition: all 0.3s;
}

.wings__card--links {
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    position: absolute;
    transform: translateX(0);
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.face--gone {
    transform: translateX(-400px);
}

.links--gone {
    transform: translateX(400px);
}

.wings__card--button {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.fa-pen-nib {
    transform-origin: 40% 65%;
    transform: rotateZ(-45deg) scale(2) translateY(2px) !important;
    color: limegreen;
}

.fa-compass {
    color: #f00;
}

.fa-briefcase {
    color: #010c1e;
}

.fa-arrow-circle-right {
    cursor: pointer;
}

#wings .fas,
.fab {
    /* padding-left: 10px; */
    transform: scale(2);
}